# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
../IDLE.py
../Syrius_UI/create_order.py
../Syrius_UI/devices_pad.py
